

     

<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-content>
      <ion-img src="../../assets/img/Teklink/logo.png"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-slides pager="true" [options]="slideOpts" (click)="goToHome()">

    <ion-slide >
      <ion-grid fixed>
        <ion-row>
   
          <ion-col size="12">
            <ion-card color="secondary" class="ion-border">
              <ion-card-header>
                <ion-card-title>Welcome to</ion-card-title>
                <ion-card-subtitle>TEKLINK</ion-card-subtitle>
              </ion-card-header>  
              <ion-card-content>
                <ion-label>We deliver Custom Mobile Solutions
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
               </ion-label>
              </ion-card-content>
              <ion-button color="dark" (click)="onClick()" fill="outline" >
                <ion-icon slot="start" name="add"></ion-icon>
                Read More
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
   
    <ion-slide >
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-card color="danger" class="ion-border">
              <ion-card-header>
                <ion-card-title>Welcome to</ion-card-title>
                <ion-card-subtitle>TEKLINK</ion-card-subtitle>
              </ion-card-header>  
              <ion-card-content>
                <ion-label>We deliver Custom Mobile Solutions
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
               </ion-label>
              </ion-card-content>
              <ion-button color="dark" (click)="onClick()" fill="outline" >
                <ion-icon slot="start" name="add"></ion-icon>
                Read More
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide >
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-card color="warning" class="ion-border">
              <ion-card-header>
                <ion-card-title>Welcome to</ion-card-title>
                <ion-card-subtitle>TEKLINK</ion-card-subtitle>
              </ion-card-header>  
              <ion-card-content>
                <ion-label>We deliver Custom Mobile Solutions
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
               </ion-label>
              </ion-card-content>
              <ion-button color="dark" (click)="onClick()" fill="outline" >
                <ion-icon slot="start" name="add"></ion-icon>
                Read More
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide >
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-card color="dark" class="ion-border">
              <ion-card-header>
                <ion-card-title>Welcome to</ion-card-title>
                <ion-card-subtitle>TEKLINK</ion-card-subtitle>
              </ion-card-header>  
              <ion-card-content>
                <ion-label>We deliver Custom Mobile Solutions
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
               </ion-label>
              </ion-card-content>
              <ion-button color="warning" (click)="onClick()" fill="outline" >
                <ion-icon slot="start" name="add"></ion-icon>
                Read More
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide >
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-card color="success" class="ion-border">
              <ion-card-header>
                <ion-card-title>Welcome to</ion-card-title>
                <ion-card-subtitle>TEKLINK</ion-card-subtitle>
              </ion-card-header>  
              <ion-card-content>
                <ion-label>We deliver Custom Mobile Solutions
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
               </ion-label>
              </ion-card-content>
              <ion-button color="dark" (click)="onClick()" fill="outline" >
                <ion-icon slot="start" name="add"></ion-icon>
                Read More
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide >
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-card color="medium" class="ion-border">
              <ion-card-header>
                <ion-card-title>Welcome to</ion-card-title>
                <ion-card-subtitle>TEKLINK</ion-card-subtitle>
              </ion-card-header>  
              <ion-card-content>
                <ion-label>We deliver Custom Mobile Solutions
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
               </ion-label>
              </ion-card-content>
              <ion-button color="dark" (click)="onClick()" fill="outline" >
                <ion-icon slot="start" name="add"></ion-icon>
                Read More
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

       <ion-slide >
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-card color="light" class="ion-border">
              <ion-card-header>
                <ion-card-title>Welcome to</ion-card-title>
                <ion-card-subtitle>TEKLINK</ion-card-subtitle>
              </ion-card-header>  
              <ion-card-content>
                <ion-label>We deliver Custom Mobile Solutions
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
               </ion-label>
              </ion-card-content>
              <ion-button color="dark" (click)="onClick()" fill="outline" >
                <ion-icon slot="start" name="add"></ion-icon>
                Read More
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>
