<ion-header>
  <ion-toolbar>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-card>
      
  <ion-list class="inputs-list" lines="full" class="ion-padding-vertical">
    <ion-item lines="none" class="ion-padding">
      Please enter your email address to request a password reset.
    </ion-item>
    <ion-item class="input-item" lines="none">
      <ion-label position="floating">Email Address</ion-label>
      <ion-input type="email" placeholder="Email"  #passwordResetEmail required clearInput autocapitalize="off" inputmode="email"></ion-input>
    </ion-item>
  </ion-list>
   
  <ion-button color ="warning"  expand="block" routerLink='/user-signup'>Cancel</ion-button>      
  <ion-button   expand="block" (click)="reset(passwordResetEmail.value)">Reset Password</ion-button>        
 
    </ion-card>
 

</ion-content>
