<!-- <ion-header>
  <ion-toolbar>
    <ion-title>SmartPass</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="outSystem()">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
        Signout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<ion-content >
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="profile">
    <ion-icon name="person"></ion-icon>
    <ion-label>Profile</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="users" *ngIf="userAccount.getRole() ==='admin' || userAccount.getRole() ==='employee'">
    <ion-icon name="send"></ion-icon>
    <ion-label>Users</ion-label>
    </ion-tab-button>
    
    
    <ion-tab-button tab="requests">
      <ion-badge slot="start">11</ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Request</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="system" *ngIf="userAccount.getRole() ==='admin' || userAccount.getRole() ==='employee'">
    <ion-icon name="cog"></ion-icon>
    <ion-label>System</ion-label>
    </ion-tab-button>
    
    <!-- <ion-tab-button tab="settings">
    <ion-icon name="notifications"></ion-icon>
    <ion-label>Requests</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="devices">
      <ion-icon name="cloud"></ion-icon>
      <ion-label>Devices</ion-label>
      </ion-tab-button> -->
    </ion-tab-bar>
    </ion-tabs>
</ion-content>

