<ion-header>
  <ion-toolbar color="mango">
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <ion-card>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" >
          <div class="center">
            <img src="assets/icon/favicon.png" class="smallLogo"/>
            <h1>Create Account</h1>
          </div>
          <!-- <form >
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input autocomplete="off" name="name" type="text" ></ion-input>
                  </ion-item>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input autocomplete="off" name="email" type="email" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input autocomplete="off" name="username" type="text" ></ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input autocomplete="off" name="password" type="password" ></ion-input>
              </ion-item>
        
              <ion-item lines='none'>
                Already have an account-? <a routerLink='/user-signin'>Sign in.</a>
              </ion-item>
            </ion-list>
            <ion-button expand="block" share="round" color="success" >Registration</ion-button>
          </form> -->
          <form [formGroup]="signUpForm" (ngSubmit)="signUpWithEmail()">
            <ion-list class="inputs-list" lines="full">
              <ion-item class="input-item">
                  <ion-label position="floating">First Name</ion-label>
                  <ion-input type="text" placeholder="Enter your first name" formControlName="firstname" clearInput autocapitalize="off" inputmode="text"></ion-input>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.firstname">
                    <div class="error-message" *ngIf="signUpForm.get('firstname').hasError(validation.type) && (signUpForm.get('firstname').dirty || signUpForm.get('firstname').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div>
                <ion-item class="input-item">
                  <ion-label position="floating">Last Name</ion-label>
                  <ion-input type="text" placeholder="Enter your last name" formControlName="lastname" clearInput autocapitalize="off" inputmode="text"></ion-input>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.lastname">
                    <div class="error-message" *ngIf="signUpForm.get('lastname').hasError(validation.type) && (signUpForm.get('lastname').dirty || signUpForm.get('lastname').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div>
             
                      <ion-item class="ion-no-margin input-item" >
                        <ion-label position="stacked">Phone number</ion-label>
                        <ion-input  (keypress)="keyPress($event)" type="text" placeholder="+271 123 4567" formControlName="phone" clearInput autocapitalize="off" inputmode="numbers" ></ion-input>
              </ion-item>  
              <div class="error-container">
                        <ng-container *ngFor="let validation of validation_messages.phone">
                          <div class="error-message" *ngIf="signUpForm.get('phone').hasError(validation.type) && (signUpForm.get('phone').dirty || signUpForm.get('phone').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                            <span>{{ validation.message }}</span>
                          </div>
                        </ng-container>
              </div>
                      <ion-item class="ion-no-margin input-item" >
                        <ion-label position="stacked">Gender</ion-label>
                        <ion-select formControlName="gender">
                          <ion-select-option  value="female">Female</ion-select-option>
                          <ion-select-option value="male">Male</ion-select-option>
                        </ion-select>
                      </ion-item>
                      
                      <div class="error-container">
                        <ng-container *ngFor="let validation of validation_messages.gender">
                          <div class="error-message" *ngIf="signUpForm.get('gender').hasError(validation.type) && (signUpForm.get('gender').dirty || signUpForm.get('gender').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                            <span>{{ validation.message }}</span>
                          </div>
                        </ng-container>
                      </div>
                      <ion-item class="ion-no-margin input-item" >
                        <ion-label position="stacked">Role</ion-label>
                        <ion-select formControlName="role">
                          <ion-select-option  value="employee">Employee</ion-select-option>
                          <ion-select-option value="user">User</ion-select-option>
                          <ion-select-option value="service">Service Provider</ion-select-option>
                          <ion-select-option value="visitor">Visitor</ion-select-option>
                        </ion-select>
                      </ion-item>
                      
                      <div class="error-container">
                        <ng-container *ngFor="let validation of validation_messages.gender">
                          <div class="error-message" *ngIf="signUpForm.get('gender').hasError(validation.type) && (signUpForm.get('gender').dirty || signUpForm.get('gender').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>
                            <span>{{ validation.message }}</span>
                          </div>
                        </ng-container>
                      </div>
                 



              <ion-item class="input-item">
                <ion-label position="floating">Email Address</ion-label>
                <ion-input type="email" placeholder="Enter email address" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
              </ion-item>
              <div class="error-container">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" *ngIf="signUpForm.get('email').hasError(validation.type) && (signUpForm.get('email').dirty || signUpForm.get('email').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
              <ion-item class="input-item">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" placeholder="Enter a new password" formControlName="password"></ion-input>
              </ion-item>
              <div class="error-container">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="signUpForm.get('password').hasError(validation.type) && (signUpForm.get('password').dirty || signUpForm.get('password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
              <!-- <ion-item class="input-item">
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input type="password" placeholder="Enter password confirmation" formControlName="password"></ion-input>
              </ion-item>
              <div class="error-container">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="signUpForm.get('password').hasError(validation.type) && (signUpForm.get('password').dirty || signUpForm.get('password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div> -->
            </ion-list>
        
            <ion-button class="sign-up-btn" type="submit" expand="block" [disabled]="!signUpForm.valid">Sign Up</ion-button>
            <div class="error-container" *ngIf="submitError">
              <div class="error-message">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ submitError }}</span>
              </div>
            </div>
            <ion-item lines='none'>
              Already have an account? <a routerLink='/user-login'>Sign in.</a>
            </ion-item>
          </form>
        
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
 
</ion-content>