<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <img src="../../../../assets/img/Teklink/logo_image.png"/> 
  <form [formGroup]='form'>
     <ion-item>
    <ion-lable position= 'floating'>Name</ion-lable>
    <ion-input formControlName='name' > </ion-input>
  </ion-item>
  <ion-item>
    <ion-lable position= 'floating' >Email</ion-lable>
    <ion-input formControlName='email' > </ion-input>
  </ion-item>
   <ion-item>
    <ion-lable position= 'floating' >Password</ion-lable>
    <ion-input formControlName='password' > </ion-input>
  </ion-item>
 <ion-item>
    <ion-lable position= 'floating'>Confirm Password</ion-lable>
    <ion-input formControlName='password_confirmation'> </ion-input>
  </ion-item>

  <ion-button (click)="submitRegister()" expand="block" shape="round" [disabled]="form.invalid">
    Register
    </ion-button>
  </form>
</ion-content>
